@charset "UTF-8";
/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS . (pode vários elementos)
*/

body {
    background-color: rgba(158, 218, 188, 0.247) ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal ;
}
h1 {
    color: rgb(6, 59, 4);
}
h1#principal {
    text-align: center;
    background-color: rgb(155, 247, 184);
}
h2 {
    color: #3c805e;
}

.basico {color:#050446;
    font-weight: 900;

}
.intermediario {
    color: #2c2802);
}
.avancado {
    color: #d41818;
}
.destaque {
    background-color: rgba(166, 196, 18, 0.479);
}
